<center> 
<% if @recipe.recipe_photo.attached?%>
    <div><img> <%= image_tag @recipe.recipe_photo %></img></div>
<%end%>
<h1><%= @recipe.recipe_name %></h1>
<p> <strong>Serving Size: </strong><%= @recipe.serving_size%></p>
<p> <strong>Directions: </strong><%= @recipe.directions%> </p>
<p> <strong>Ingredients: </strong><%= @recipe.ingredients%> </p>
<%= form_tag recipe_path(@recipe.id), method: "delete" do %>
    <%= submit_tag "Delete #{@recipe.recipe_name}" %>
<% end %>
<br><br>
<%= link_to 'Edit Recipe', [:edit, @recipe]%>
<br><br>
<%= link_to "Return to your homepage", user_path(@user)%>
<br><br>
</center>